body{
    background-color: #D67AB1;
    background-image:url("https://marketplace.canva.com/EAGJg7J7QdY/1/0/1600w/canva-pink-and-white-cute-bordered-background-instagram-post-E7y3Ps0gXs0.jpg");
    background-size: cover;
    font-size: 45px;
    color: #333;
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
  background-repeat: no-repeat;    /* prevents tiling */
  background-position: center;     /* centers the image */
  height: 100vh;                   /* full viewport height */
  margin: 0;
}

h1{
    font-size: 45px;
    text-align: center;
    color: #3C1642;
}

h2{
    font-size: 25px;
    text-align: left;
    color: #3C1642;
}

p{
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
}

ul,ol{
    background-color: #E2A3C7;;
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 2px;
    width: fit-content;
    border-radius: 10px;
}

li{
    background-color: #E2A3C7;
    font-size: 20px;
    margin: 10px 0;
    padding: 2px;
    width: fit-content;
}

a{
    font-size: 20px;
    text-align: left;
    margin: 10px 0;  
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.first{
      display: flex;
      justify-content: center;
}