body{
    background-color: #D67AB1;
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20210926/pngtree-cute-pink-ink-background-with-stars-image_907643.png");
    background-size: cover;
    font-size: 45px;
    color: #333;
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
  background-position: center;     /* centers the image */
  height: 100vh;                   /* full viewport height */
  margin: 0;
}

h1{
    font-size: 45px;
    text-align: center;
    color: #3C1642;
}

h2{
    font-size: 25px;
    text-align: left;
    color: #3C1642;
}

p{
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
}

ul,ol{
    background-color: #E2A3C7;;
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 2px;
    width: fit-content;
    border-radius: 10px;
}

li{
    background-color: #E2A3C7;
    font-size: 20px;
    margin: 10px 0;
    padding: 2px;
    width: fit-content;
}

a{
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
}

img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
}

.first{
      display: flex;
      justify-content: center;
}